# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://postgres:postgres@localhost:5432/app?schema=public"
REDIS_URL="redis://localhost:6379"

BULL_BOARD_PORT=3001

BROWSERLESS_URL="ws://localhost:8080/"
BROWSERLESS_TOKEN="browserless-token"

REMIX_AUTH_SECRET=

COOKIE_SIGNING_SECRET=

SENDGRID_API_KEY=
SENDGRID_SENDER_EMAIL="test@thelisting.do"

XSTATE_VISUALIZER="false"

META_GRAPH_API_USER_ACCESS_TOKEN=
META_GRAPH_API_VERSION="v15.0"

# WhatsApp
WHATSAPP_PHONE_NUMBER_ID=

SENTRY_DSN="https://0477a064aae041fcb5241599ca5b8935:715c0c4d64f441ce8f2a0f1a60ce40c5@o4504418880782336.ingest.sentry.io/4504418883338240"

# Shopify
SHOPIFY_WEBHOOK_SECRET="asecretwebhook"

# Alegra
ALEGRA_API_TOKEN=
ALEGRA_API_USERNAME=
ALEGRA_INVOICE_BACKUP_EMAIL=
ALEGRA_SERVICE_ITEM_ID=
